<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              synbnb: '#FF5A5F',
            }
          },
          fontFamily: {
            sans: [ "Poppins"],
          },
        }
      }
    </script>
    <style type="text/tailwindcss">
      @layer utilities {
        .content-auto {
          content-visibility: auto;
        }
        .listing-button {
          padding-block: 6px;
          padding-inline: 13px;
          background-color: #FF5A5F;
          font-size: 1.12rem;
          border-radius: 10px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
          color: #FFFFFF;
          font-weight: 400;
          transition: .1s ease-in-out;
        }
        .listing-button:hover {
          margin-left: 4px;

        }
      }
      @layer components {
        .inputfield {
          @apply rounded-xl focus:ring-synbnb focus:border-synbnb mb-2 w-full border border-gray-300
        }
        .labelinput {
          @apply block text-sm my-2 font-medium text-neutral-900 
        }
      }
    </style>
    <script src="https://cdn.lordicon.com/qjzruarw.js"></script>
    <title>SynBNB</title>
  </head>
<body>
  <%- include("../partials/navbar")-%>
  <main class="mx-auto p-5 px-7 md:px-12 max-w-7xl">
    <%- body %>
  </main>
  <%- include("../partials/footer")-%>
</body>
</html>
    