<% layout('/layouts/boilerplate') -%> 

<main class="">
    <div>
        <h2>List you listing on SynBNB</h2>
    </div>

    <form action="/l/new" method="post">
        <div>
            <section>
                <label for="name">Name of listing:</label>
                <input type="text" name="name">
            </section>
            <section>
                <label for="desc">Description:</label>
                <textarea name="desc" id="desc" cols="30" rows="5">
                </textarea>
            </section>
            <section>
                <label for="location">Location:</label>
                <select name="location" id="location">
                    <% for(let c of cities) { %> 
                        <option value="<%= `${c.city}, ${c.admin_name}` %>"> <%= `${c.city}, ${c.admin_name}` %> </option>
                    <% } %> 
                </select>
            </section>
            <section>
                <label for="guest">Number of Guest:</label>
                <input type="number" min="1" name="guest">
            </section>
            <section>
                <label for="price">Price:</label>
                <input type="number" min="1" step="any" name="price">
            </section>
        </div>

        <button>Add to List</button>
    </form>
</main>
